---
layout: default
---

<div class="home">

  <h3 class="page-heading"></h3>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.categories contains page.id%}
        <li style="margin-top: 36px;">
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <article class="post">
            <h2>{{ post.title | escape }}</h2>

            {% if post.image %}
            <div style="background-image: url('{{post.image}}');" class="post-image">
            </div>
            {% endif %}

            <div class="post-content" itemprop="articleBody">
              {{ post.content }}
            </div>
          </article>

        </li>
      {%endif%}
    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>